body {
    font-family: Arial !important;
    background-color: #f4f4f4 !important;
    margin: 0 !important;
    padding: 20px !important;
}

h1 {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid #000000;
}

.table th {
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
    background-color: #FFD700;
}

.table td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
}

.grids {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

.grid {
    width: 40%;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    justify-items: center;
    height: 300px;
    /* Ajusta la altura según tus necesidades */
}

.buttons {
    text-align: center;
}

button {
    text-align: center !important;
    width: 120px !important;
    height: 40px;
    border: 1px solid #ddd !important;
    background-color: #fff !important;
    cursor: pointer !important;
    font-size: 16px !important;
    border-radius: 4px !important;
}

button.confirm {
    background-color: #2ECC71 !important;
    color: white !important;
    border: none !important;
    padding: 10px 20px !important;
    margin-right: 10px !important;
    cursor: pointer !important;
}

button.cancel {
    background-color: #F6686B !important;
    color: white !important;
    border: none !important;
    padding: 10px 20px !important;
    cursor: pointer !important;
}

button.selected {
    background-color: #ffeb3b;
}

.marked {
    background-color: #4CAF50;
    color: white;
}

.v-line {
    border-left: 2px solid #000;
    height: 450px;
}