* {
    font-family: "Popins", sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #CEF0FA;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 400px;
    font-weight: 600;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 6px;
}

input {
    width: calc(100% - 25px);
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 12px 0;
    background-color: #0F79BB;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0C6099;
}

.inline-fields {
    display: flex;
    justify-content: space-between;
}

.inline-fields div {
    flex: 1;
    margin-right: 10px;
}

.inline-fields div:last-child {
    margin-right: 0;
}